html,
body {
  height: 100vh;
  width: 100vw;
  background:linear-gradient(200deg, #ff6e7f, #bfe9ff);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
